<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
</head>

<body>

<header th:fragment="header" class="custom-header">
    <nav class="navbar">
        <div class="nav-left">
            <a th:href="@{/}" class="logo">CyStation</a>
            <a th:href="@{/}" class="nav-link">Accueil</a>
            <a th:href="@{/about}" class="nav-link">À propos</a>


        </div>

        <div class="nav-right">

            <div sec:authorize="isAuthenticated()" class="auth-buttons">
                <a th:href="@{/reactor}" class="nav-link">Accès au quartier scientifique</a>
                <a th:href="@{/userInfo}" class="nav-link">Mon Compte</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">
                        Se déconnecter
                    </button>
                </form>
            </div>

            <div sec:authorize="isAnonymous()" class="auth-buttons">
                <a th:href="@{/login}" class="btn btn-outline">Se connecter</a>
                <a th:href="@{/register}" class="btn btn-filled">S'inscrire</a>
            </div>
        </div>
    </nav>
</header>

</body>
</html>