<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <main>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Votre Email" />
            <input type="password" name="password" placeholder="Votre mot de passe" />
            <button type="submit">Se connecter</button>

            <div th:if="${param.error}">
                 <strong>Erreur :</strong> Cet email n'est pas reconnu ou le mot de passe est faux.
                    <br>
                    Si vous n'avez pas encore de compte, <a th:href="@{/register}" >veuillez vous inscrire ici</a>.
            </div>


        </form>
    </main>

</body>
</html>