<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org" ></html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/profiles.css}">

</head>
<body>

<div th:replace="~{public/header :: header}"></div>


<main>
    <div class="container">
        <h2>Membres de l'équipage</h2>

        <div class="users-grid">
            <div th:each="u : ${usersList}" class="user-card">
                <div class="card-header">
                    <span class="role-badge" th:text="${u.role.displayValue}">Rôle</span>
                </div>

                <div class="card-body">
                    <h3 th:text="${u.firstName + ' ' + u.lastName}">Prénom Nom</h3>
                    <p>Email : <span th:text="${u.email}">email@cyss.space</span></p>

                    <label>Rôle : <span th:text="${u.role}"> </span></label>

                    <div class="exp-bar-container">
                        <label>Expérience : <span th:text="${u.experience}"> 0 </span> EXP</label>
                        <div class="progress">
                            <div class="progress-bar" th:style="'width: ' + ${u.experience % 100} + '%'"></div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <a th:href="@{/profile/{email}(email=${u.email})}" class="btn-view">Voir Profil</a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{public/footer :: footer}"></div>

</body>
</l>