<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{public/header :: header}"></div>


<main>

    <p>Nom : <span th:text="${user.lastName}"></span></p>
    <p>Prénom : <span th:text="${user.firstName}"></span></p>
    <p>Genre : <span th:text="${user.gender.getDisplayValue()}"></span></p>
    <p>Rôle : <span th:text="${user.role.getDisplayValue()}"></span></p>
    <p>Expérience : <span th:text="${user.experience}"></span></p>
    <p>Email : <span th:text="${user.email}"></span></p>
    <p>Mot de passe : <span>••••••••</span></p>
    <form th:action="@{/user/update-exp}" method="post">
        <button name="addExp">Add Exp</button>
    </form>

    <form th:action="@{/user/reset-exp}" method="post">
        <button name="resetExp">Reset Exp</button>
    </form>

</main>

<div th:replace="~{public/footer :: footer}"></div>


</body>
</html>