<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>CYStation - Mission</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/zone-overview.css}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/device-actions.js}" defer></script>
    <script th:src="@{/js/device-sync.js}" defer></script>
</head>
<body>

<div th:replace="~{public/header :: header}"></div>

<main class="cnes-layout">

    <section class="cnes-section bg-dark-alt">
        <div class="section-header">
            <a th:href="@{/zone-overview}" style="text-decoration: none; display: inline-block;">
                <h2>Infrastructures du Complexe <span style="font-size: 0.5em; color: var(--color-7); vertical-align: middle;">► Gérer les modules</span></h2>
            </a>
        </div>

        <div class="cnes-grid infrastructure-grid">
            <article class="infra-card" th:each="zone : ${zones}">
                <a th:href="@{/mission/zone/{id}(id=${zone.id})}" style="text-decoration: none; display: block; height: 100%;">

                    <img src="https://images.unsplash.com/photo-1541185933-ef5d8ed016c2?auto=format&fit=crop&w=600&q=80" th:alt="${zone.name}">

                    <div class="infra-overlay">
                        <h3 th:text="${zone.name}">Nom de la Zone</h3>
                        <p style="font-size: 0.8rem; color: var(--color-9); margin-top: 5px;"
                           th:text="${#lists.size(zone.devices)} + ' modules détectés'">
                        </p>
                    </div>
                </a>
            </article>

            <div th:if="${#lists.isEmpty(zones)}" class="empty-state" style="grid-column: 1/-1; text-align: center; padding: 20px;">
            </div>
        </div>
    </section>

</main>

<div th:replace="~{public/footer :: footer}"></div>



</body>


</html>


