.article-hero {
    height: 55vh;
    min-height: 450px;
    background-position: center;
    background-size: cover;
}

.article-text-section {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--color-2);
    padding: 50px;
    border: 1px solid var(--color-3);
    margin-top: -60px;
    position: relative;
    z-index: 10;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.article-body {
    font-size: 1.15rem;
    line-height: 1.8;
    white-space: pre-wrap;
    color: var(--color-10);
    margin-bottom: 40px;
    text-align: justify;
}

.article-actions {
    display: flex;
    gap: 15px;
    border-top: 1px solid var(--color-4);
    padding-top: 25px;
}